## Data Processing using Pandas
Let us understand how to process data using a 3rd party library called Pandas.

## Limitations of Collections
Let us understand some of the limitations of the collections.
* No structure defined
* The code is not readable
* Some of the APIs are scattered in multiple Python modules or plugins.
* Pandas provide us a robust set of APIs where we can refer to columns using names and perform all standard transformations

## Overview of Pandas
Let us understand the details with respect to Pandas.
* Pandas is not a core Python module and hence we need to install using pip.
* It has 2 types of data structures - series and DataFrame
* We can perform all standard transformations using Pandas APIs
* We also have SQL based wrappers on top of Pandas where we can write queries.

## Overview of Series
Let us quickly go through one of the Pandas Data Structure - Series.
* Pandas Series is a one-dimensional labeled array capable of holding any data type.
* It is similar to one column in an excel spreadsheet or a database table.
* We can create Series by using dict.

In [1]:
d = {"JAN": 10, "FEB": 15, "MAR": 12, "APR": 16}

In [2]:
import pandas as pd
s = pd.Series(d)

In [3]:
s

JAN    10
FEB    15
MAR    12
APR    16
dtype: int64

In [4]:
type(s)

pandas.core.series.Series

In [5]:
l = [10, 15, 12, 16]
pd.Series(l)

0    10
1    15
2    12
3    16
dtype: int64

In [6]:
s.count()

4

In [7]:
s.sum()

53

In [8]:
s.min()

10

In [9]:
s.max()

16

* When we fetch only one column from a Pandas Dataframe, it will be returned as Series.

In [10]:
orders_path = "/data/retail_db/orders/part-00000"

In [11]:
orders_schema = [
  "order_id",
  "order_date",
  "order_customer_id",
  "order_status"
]

In [12]:
pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer:Union[str, pathlib.Path, IO[~AnyStr]],
    sep=',',
    delimiter=None,
    header='infer',
    names=None,
    index_col=None,
    usecols=None,
    squeeze=False,
    prefix=None,
    mangle_dupe_cols=True,
    dtype=None,
    engine=None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace=False,
    skiprows=None,
    skipfooter=0,
    nrows=None,
    na_values=None,
    keep_default_na=True,
    na_filter=True,
    verbose=False,
    skip_blank_lines=True,
    parse_dates=False,
    infer_datetime_format=False,
    keep_date_col=False,
    date_parser=None,
    dayfirst=False,
    cache_dates=True,
    iterator=False,
    chunksize=None,
    compression='infer',
    thousands=None,
    decimal:str='.',
    lineterminator=None,
    quotechar='"',
    quoting=0,
    doublequote=True,
    escapechar=None,
    comment=None,
    encoding=None,
    dialect=None,
    error_bad_lines=True,
    warn_bad_lines=True,
    delim_whitespace=False,
    low_memory=True,
    memory_map=False,
    float_precision=None,
)
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : int, str, sequence of int / str, or False, default ``None``
  Column(s) to use as the row labels of the ``DataFrame``, either given as
  string name or column index. If a sequence of int / str is given, a
  MultiIndex is used.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g. when you have a malformed file with delimiters at
  the end of each line.
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.
prefix : str, optional
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True.
false_values : list, optional
    Values to consider as False.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
    'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparseable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``. To parse an index or column with a mixture of timezones,
    specify ``date_parser`` to be a partially-applied
    :func:`pandas.to_datetime` with ``utc=True``. See
    :ref:`io.csv.mixed_timezones` for more.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

    .. versionadded:: 0.25.0
iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.
thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
error_bad_lines : bool, default True
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will dropped from the DataFrame that is
    returned.
warn_bad_lines : bool, default True
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.
delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.
low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.
float_precision : str, optional
    Specifies which converter the C engine should use for floating-point
    values. The options are `None` for the ordinary converter,
    `high` for the high-precision converter, and `round_trip` for the
    round-trip converter.

Returns
-------
DataFrame or TextParser
    A comma-separated values (csv) file is returned as two-dimensional
    data structure with labeled axes.

See Also
--------
to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
>>> pd.read_csv('data.csv')  # doctest: +SKIP
File:      /usr/local/lib64/python3.6/site-packages/pandas/io/parsers.py
Type:      function

In [13]:
orders = pd.read_csv(orders_path,
  header=None,
  names=orders_schema
)

In [14]:
type(orders)

pandas.core.frame.DataFrame

In [15]:
order_dates = orders.order_date

In [16]:
type(order_dates)

pandas.core.series.Series

In [17]:
# Preview Series
order_dates

0        2013-07-25 00:00:00.0
1        2013-07-25 00:00:00.0
2        2013-07-25 00:00:00.0
3        2013-07-25 00:00:00.0
4        2013-07-25 00:00:00.0
                 ...
68878    2014-07-09 00:00:00.0
68879    2014-07-13 00:00:00.0
68880    2014-07-19 00:00:00.0
68881    2014-07-22 00:00:00.0
68882    2014-07-23 00:00:00.0
Name: order_date, Length: 68883, dtype: object

**Don’t worry too much about creating Data Frames yet, we are trying to understand how Data Frame and Series are related.**

## Reading files into Data Frames
Let us see how we can create the Pandas Data Frame.
read_csv is the most popular API to create a Data Frame by reading data from files.
* Here are some of the important options.
  * sep or delimiter
  * header or names
  * index_col
  * dtype
  * and many more
* We have several other APIs which will facilitate us to create Data Frame
  * read_fwf
  * read_table
  * pandas.io.json
  * and more
* Here is how we can create a Data Frame for orders dataset.
  * Delimiter is default
  * There is no Header and hence we have to set keyword argument header to None.
  * We can pass the column names as a list.
  * Data types of each column are typically inferred based on the data, however we can explicitly specify Data Types using dtype.

In [18]:
orders_path = "/data/retail_db/orders/part-00000"

In [19]:
orders_schema = [
  "order_id",
  "order_date",
  "order_customer_id",
  "order_status"
]

In [20]:
orders = pd.read_csv(orders_path,
  header=None,
  names=orders_schema
)

In [21]:
type(orders)

pandas.core.frame.DataFrame

In [22]:
# Preview Data Frame
orders

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]

## Standard Transformations
Let us see some of the standard transformations that can be performed using Data Frame APIs.
* Projection
* Filtering
* Aggregations
* Joins

Let us see some examples related to standard transformation using Pandas API. But before that let us read both orders as well as order_items into Pandas Data Frame.

* Read order_items data and project order_item_order_id and order_item_subtotal. Columns can be named with these names in the same order.
  * order_item_id
  * order_item_order_id
  * order_item_product_id
  * order_item_quantity
  * order_item_subtotal
  * order_item_product_price

In [23]:
import pandas as pd

In [24]:
# Reading orders
orders_path = "/data/retail_db/orders/part-00000"

In [25]:
orders_schema = [
    "order_id",
    "order_date",
    "order_customer_id",
    "order_status"
]

In [26]:
orders = pd.read_csv(
    orders_path,
    header=None,
    names=orders_schema
)

In [27]:
# Reading order_items
order_items_path = "/data/retail_db/order_items/part-00000"

In [28]:
order_items_schema = [
    "order_item_id",
    "order_item_order_id",
    "order_item_product_id",
    "order_item_quantity",
    "order_item_subtotal",
    "order_item_product_price"
]

In [29]:
order_items = pd.read_csv(
    order_items_path,
    header=None,
    names=order_items_schema
)

## Projection and Filtering Data

Let us understand how to project as well filter data in Data Frames.

* Projecting data

In [30]:
orders.order_date

0        2013-07-25 00:00:00.0
1        2013-07-25 00:00:00.0
2        2013-07-25 00:00:00.0
3        2013-07-25 00:00:00.0
4        2013-07-25 00:00:00.0
                 ...
68878    2014-07-09 00:00:00.0
68879    2014-07-13 00:00:00.0
68880    2014-07-19 00:00:00.0
68881    2014-07-22 00:00:00.0
68882    2014-07-23 00:00:00.0
Name: order_date, Length: 68883, dtype: object

In [31]:
orders['order_date']

0        2013-07-25 00:00:00.0
1        2013-07-25 00:00:00.0
2        2013-07-25 00:00:00.0
3        2013-07-25 00:00:00.0
4        2013-07-25 00:00:00.0
                 ...
68878    2014-07-09 00:00:00.0
68879    2014-07-13 00:00:00.0
68880    2014-07-19 00:00:00.0
68881    2014-07-22 00:00:00.0
68882    2014-07-23 00:00:00.0
Name: order_date, Length: 68883, dtype: object

In [32]:
# Project order_item_order_id and order_item_subtotal
order_items[["order_item_order_id", "order_item_subtotal"]]

        order_item_order_id  order_item_subtotal
0                         1               299.98
1                         2               199.99
2                         2               250.00
3                         2               129.99
4                         4                49.98
...                     ...                  ...
172193                68881               129.99
172194                68882                59.99
172195                68882                50.00
172196                68883              1999.99
172197                68883               150.00

[172198 rows x 2 columns]

* Filter for order_item_order_id 2

In [33]:
order_items[order_items.order_item_order_id == 2]

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99

In [34]:
order_items[order_items["order_item_order_id"] == 2]

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99

In [35]:
order_items.query('order_item_order_id == 2')

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99

* Filter for order_item_order_id 2 and order_item_subtotal between 125 and 250

In [37]:
order_items[(order_items.order_item_order_id == 2) & 
            ((order_items.order_item_subtotal >= 150) & (order_items.order_item_subtotal <= 250))]

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00

In [38]:
order_items.query('order_item_order_id == 2 and ' +
                  'order_item_subtotal >= 150 and ' +
                  'order_item_subtotal <= 250'
                 )

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00

* Filter for orders which are placed on 2013 August 1st

In [39]:
orders[orders.order_date.str.startswith('2013-08-01')]

       order_id             order_date  order_customer_id     order_status
1296       1297  2013-08-01 00:00:00.0              11607         COMPLETE
1297       1298  2013-08-01 00:00:00.0               5105           CLOSED
1298       1299  2013-08-01 00:00:00.0               7802         COMPLETE
1299       1300  2013-08-01 00:00:00.0                553  PENDING_PAYMENT
1300       1301  2013-08-01 00:00:00.0               1604  PENDING_PAYMENT
...         ...                    ...                ...              ...
57959     57960  2013-08-01 00:00:00.0              10177          PENDING
57960     57961  2013-08-01 00:00:00.0                835         COMPLETE
57961     57962  2013-08-01 00:00:00.0              10521  PENDING_PAYMENT
67446     67447  2013-08-01 00:00:00.0               8956         COMPLETE
67447     67448  2013-08-01 00:00:00.0               3697  SUSPECTED_FRAUD

[246 rows x 4 columns]

In [40]:
orders.query('order_date.str.startswith("2013-08-01")', engine='python')

       order_id             order_date  order_customer_id     order_status
1296       1297  2013-08-01 00:00:00.0              11607         COMPLETE
1297       1298  2013-08-01 00:00:00.0               5105           CLOSED
1298       1299  2013-08-01 00:00:00.0               7802         COMPLETE
1299       1300  2013-08-01 00:00:00.0                553  PENDING_PAYMENT
1300       1301  2013-08-01 00:00:00.0               1604  PENDING_PAYMENT
...         ...                    ...                ...              ...
57959     57960  2013-08-01 00:00:00.0              10177          PENDING
57960     57961  2013-08-01 00:00:00.0                835         COMPLETE
57961     57962  2013-08-01 00:00:00.0              10521  PENDING_PAYMENT
67446     67447  2013-08-01 00:00:00.0               8956         COMPLETE
67447     67448  2013-08-01 00:00:00.0               3697  SUSPECTED_FRAUD

[246 rows x 4 columns]

## Aggregations

Let us understand how to perform aggregations using Pandas. There are 2 types of aggregations.
* Global Aggregations
* By key Aggregations

### Global Aggregations

There are several global aggregations that can be performed.

* Getting number of records in the Data Frame.

In [43]:
orders.shape

(68883, 4)

* Getting number of non np.NaN values in each attribute in a Data Frame

In [44]:
orders.count()

order_id             68883
order_date           68883
order_customer_id    68883
order_status         68883
dtype: int64

* Getting basic statistics of numeric fields of a Data Frame

In [45]:
orders.describe()

           order_id  order_customer_id
count  68883.000000       68883.000000
mean   34442.000000        6216.571099
std    19884.953633        3586.205241
min        1.000000           1.000000
25%    17221.500000        3122.000000
50%    34442.000000        6199.000000
75%    51662.500000        9326.000000
max    68883.000000       12435.000000

* Get revenue for a order id 2 from order_items

In [46]:
order_items[order_items.order_item_order_id == 2].order_item_subtotal.sum()

579.98

### By Key Aggregations

By Key Aggregations are those which are computed per key. Here are some of the examples.

* Getting number of orders per day
* Getting number of orders per status
* Computing revenue per order

In [47]:
## Getting number of orders per day
orders.groupby(orders.order_date).count()
## This gives count of each and every field by default

                       order_id  order_customer_id  order_status
order_date
2013-07-25 00:00:00.0       143                143           143
2013-07-26 00:00:00.0       269                269           269
2013-07-27 00:00:00.0       202                202           202
2013-07-28 00:00:00.0       187                187           187
2013-07-29 00:00:00.0       253                253           253
...                         ...                ...           ...
2014-07-20 00:00:00.0       285                285           285
2014-07-21 00:00:00.0       235                235           235
2014-07-22 00:00:00.0       138                138           138
2014-07-23 00:00:00.0       166                166           166
2014-07-24 00:00:00.0       185                185           185

[364 rows x 3 columns]

In [48]:
orders.groupby(orders.order_date)['order_status'].count()

order_date
2013-07-25 00:00:00.0    143
2013-07-26 00:00:00.0    269
2013-07-27 00:00:00.0    202
2013-07-28 00:00:00.0    187
2013-07-29 00:00:00.0    253
                        ...
2014-07-20 00:00:00.0    285
2014-07-21 00:00:00.0    235
2014-07-22 00:00:00.0    138
2014-07-23 00:00:00.0    166
2014-07-24 00:00:00.0    185
Name: order_status, Length: 364, dtype: int64

In [50]:
## Getting number of orders per status
orders.groupby(orders.order_status)['order_status'].count()

order_status
CANCELED            1428
CLOSED              7556
COMPLETE           22899
ON_HOLD             3798
PAYMENT_REVIEW       729
PENDING             7610
PENDING_PAYMENT    15030
PROCESSING          8275
SUSPECTED_FRAUD     1558
Name: order_status, dtype: int64

In [52]:
orders. \
    groupby(orders.order_status)['order_status']. \
    agg(['count', 'min', 'max']). \
    rename(columns={'count': 'order_count'})

                 order_count              min              max
order_status
CANCELED                1428         CANCELED         CANCELED
CLOSED                  7556           CLOSED           CLOSED
COMPLETE               22899         COMPLETE         COMPLETE
ON_HOLD                 3798          ON_HOLD          ON_HOLD
PAYMENT_REVIEW           729   PAYMENT_REVIEW   PAYMENT_REVIEW
PENDING                 7610          PENDING          PENDING
PENDING_PAYMENT        15030  PENDING_PAYMENT  PENDING_PAYMENT
PROCESSING              8275       PROCESSING       PROCESSING
SUSPECTED_FRAUD         1558  SUSPECTED_FRAUD  SUSPECTED_FRAUD

In [53]:
## Computing revenue per order
order_items. \
    groupby('order_item_order_id')['order_item_subtotal']. \
    agg(['sum']). \
    rename(columns={'sum': 'revenue'})

                     revenue
order_item_order_id
1                     299.98
2                     579.98
4                     699.85
5                    1129.86
7                     579.92
...                      ...
68879                1259.97
68880                 999.77
68881                 129.99
68882                 109.99
68883                2149.99

[57431 rows x 1 columns]

## Writing to files

Pandas also provides simple APIs to write the data back to files.

* Let us write the revenue per order along with order_id to a file.

In [56]:
order_items.to_csv?

Signature:
order_items.to_csv(
    path_or_buf:Union[str, pathlib.Path, IO[~AnyStr], NoneType]=None,
    sep:str=',',
    na_rep:str='',
    float_format:Union[str, NoneType]=None,
    columns:Union[Sequence[collections.abc.Hashable], NoneType]=None,
    header:Union[bool, List[str]]=True,
    index:bool=True,
    index_label:Union[bool, str, Sequence[collections.abc.Hashable], NoneType]=None,
    mode:str='w',
    encoding:Union[str, NoneType]=None,
    compression:Union[str, Mapping[str, str], NoneType]='infer',
    quoting:Union[int, NoneType]=None,
    quotechar:str='"',
    line_terminator:Union[str, NoneType]=None,
    chunksize:Union[int, NoneType]=None,
    date_format:Union[str, NoneType]=None,
    doublequote:bool=True,
    escapechar:Union[str, NoneType]=None,
    decimal:Union[str, NoneType]='.',
) -> Union[str, NoneType]
Docstring:
Write object to a comma-separated values (csv) file.

.. versionchanged:: 0.24.0
    The order of arguments for Series was changed.

Parameters
----------
path_or_buf : str or file handle, default None
    File path or object, if None is provided the result is returned as
    a string.  If a file object is passed it should be opened with
    `newline=''`, disabling universal newlines.

    .. versionchanged:: 0.24.0

       Was previously named "path" for Series.

sep : str, default ','
    String of length 1. Field delimiter for the output file.
na_rep : str, default ''
    Missing data representation.
float_format : str, default None
    Format string for floating point numbers.
columns : sequence, optional
    Columns to write.
header : bool or list of str, default True
    Write out the column names. If a list of strings is given it is
    assumed to be aliases for the column names.

    .. versionchanged:: 0.24.0

       Previously defaulted to False for Series.

index : bool, default True
    Write row names (index).
index_label : str or sequence, or False, default None
    Column label for index column(s) if desired. If None is given, and
    `header` and `index` are True, then the index names are used. A
    sequence should be given if the object uses MultiIndex. If
    False do not print fields for index names. Use index_label=False
    for easier importing in R.
mode : str
    Python write mode, default 'w'.
encoding : str, optional
    A string representing the encoding to use in the output file,
    defaults to 'utf-8'.
compression : str or dict, default 'infer'
    If str, represents compression mode. If dict, value at 'method' is
    the compression mode. Compression mode may be any of the following
    possible values: {'infer', 'gzip', 'bz2', 'zip', 'xz', None}. If
    compression mode is 'infer' and `path_or_buf` is path-like, then
    detect compression mode from the following extensions: '.gz',
    '.bz2', '.zip' or '.xz'. (otherwise no compression). If dict given
    and mode is 'zip' or inferred as 'zip', other entries passed as
    additional compression options.

    .. versionchanged:: 1.0.0

       May now be a dict with key 'method' as compression mode
       and other entries as additional compression options if
       compression mode is 'zip'.

quoting : optional constant from csv module
    Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
    then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
    will treat them as non-numeric.
quotechar : str, default '\"'
    String of length 1. Character used to quote fields.
line_terminator : str, optional
    The newline character or character sequence to use in the output
    file. Defaults to `os.linesep`, which depends on the OS in which
    this method is called ('\n' for linux, '\r\n' for Windows, i.e.).

    .. versionchanged:: 0.24.0
chunksize : int or None
    Rows to write at a time.
date_format : str, default None
    Format string for datetime objects.
doublequote : bool, default True
    Control quoting of `quotechar` inside a field.
escapechar : str, default None
    String of length 1. Character used to escape `sep` and `quotechar`
    when appropriate.
decimal : str, default '.'
    Character recognized as decimal separator. E.g. use ',' for
    European data.

Returns
-------
None or str
    If path_or_buf is None, returns the resulting csv format as a
    string. Otherwise returns None.

See Also
--------
read_csv : Load a CSV file into a DataFrame.
to_excel : Write DataFrame to an Excel file.

Examples
--------
>>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
...                    'mask': ['red', 'purple'],
...                    'weapon': ['sai', 'bo staff']})
>>> df.to_csv(index=False)
'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

Create 'out.zip' containing 'out.csv'

>>> compression_opts = dict(method='zip',
...                         archive_name='out.csv')  # doctest: +SKIP
>>> df.to_csv('out.zip', index=False,
...           compression=compression_opts)  # doctest: +SKIP
File:      /usr/local/lib64/python3.6/site-packages/pandas/core/generic.py
Type:      method

In [63]:
import getpass

username = getpass.getuser()

username

'training'

In [66]:
import os
os.system(f'mkdir -p /home/{username}/retail_db')
os.system(f'ls -ltr /home/{username}/retail_db')

0

In [71]:
order_items. \
    groupby('order_item_order_id')['order_item_subtotal']. \
    agg(['sum']). \
    rename(columns={'sum': 'revenue'}). \
    round(2). \
    to_csv(f'/home/{username}/retail_db/order_revenue.csv')

In [76]:
order_items. \
    groupby('order_item_order_id')['order_item_subtotal']. \
    agg(['sum']). \
    rename(columns={'sum': 'revenue'}). \
    round(2). \
    to_json(f'/home/{username}/retail_db/order_revenue.json', orient='table')

In [74]:
order_items.to_json?

Signature:
order_items.to_json(
    path_or_buf:Union[str, pathlib.Path, IO[~AnyStr], NoneType]=None,
    orient:Union[str, NoneType]=None,
    date_format:Union[str, NoneType]=None,
    double_precision:int=10,
    force_ascii:bool=True,
    date_unit:str='ms',
    default_handler:Union[Callable[[Any], Union[str, int, float, List, Dict]], NoneType]=None,
    lines:bool=False,
    compression:Union[str, NoneType]='infer',
    index:bool=True,
    indent:Union[int, NoneType]=None,
) -> Union[str, NoneType]
Docstring:
Convert the object to a JSON string.

Note NaN's and None will be converted to null and datetime objects
will be converted to UNIX timestamps.

Parameters
----------
path_or_buf : str or file handle, optional
    File path or object. If not specified, the result is returned as
    a string.
orient : str
    Indication of expected JSON string format.

    * Series:

        - default is 'index'
        - allowed values are: {'split','records','index','table'}.

    * DataFrame:

        - default is 'columns'
        - allowed values are: {'split', 'records', 'index', 'columns',
          'values', 'table'}.

    * The format of the JSON string:

        - 'split' : dict like {'index' -> [index], 'columns' -> [columns],
          'data' -> [values]}
        - 'records' : list like [{column -> value}, ... , {column -> value}]
        - 'index' : dict like {index -> {column -> value}}
        - 'columns' : dict like {column -> {index -> value}}
        - 'values' : just the values array
        - 'table' : dict like {'schema': {schema}, 'data': {data}}

        Describing the data, where data component is like ``orient='records'``.

    .. versionchanged:: 0.20.0

date_format : {None, 'epoch', 'iso'}
    Type of date conversion. 'epoch' = epoch milliseconds,
    'iso' = ISO8601. The default depends on the `orient`. For
    ``orient='table'``, the default is 'iso'. For all other orients,
    the default is 'epoch'.
double_precision : int, default 10
    The number of decimal places to use when encoding
    floating point values.
force_ascii : bool, default True
    Force encoded string to be ASCII.
date_unit : str, default 'ms' (milliseconds)
    The time unit to encode to, governs timestamp and ISO8601
    precision.  One of 's', 'ms', 'us', 'ns' for second, millisecond,
    microsecond, and nanosecond respectively.
default_handler : callable, default None
    Handler to call if object cannot otherwise be converted to a
    suitable format for JSON. Should receive a single argument which is
    the object to convert and return a serialisable object.
lines : bool, default False
    If 'orient' is 'records' write out line delimited json format. Will
    throw ValueError if incorrect 'orient' since others are not list
    like.

compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}

    A string representing the compression to use in the output file,
    only used when the first argument is a filename. By default, the
    compression is inferred from the filename.

    .. versionadded:: 0.21.0
    .. versionchanged:: 0.24.0
       'infer' option added and set to default
index : bool, default True
    Whether to include the index values in the JSON string. Not
    including the index (``index=False``) is only supported when
    orient is 'split' or 'table'.

    .. versionadded:: 0.23.0

indent : int, optional
   Length of whitespace used to indent each record.

   .. versionadded:: 1.0.0

Returns
-------
None or str
    If path_or_buf is None, returns the resulting json format as a
    string. Otherwise returns None.

See Also
--------
read_json

Notes
-----
The behavior of ``indent=0`` varies from the stdlib, which does not
indent the output but does insert newlines. Currently, ``indent=0``
and the default ``indent=None`` are equivalent in pandas, though this
may change in a future release.

Examples
--------

>>> df = pd.DataFrame([['a', 'b'], ['c', 'd']],
...                   index=['row 1', 'row 2'],
...                   columns=['col 1', 'col 2'])
>>> df.to_json(orient='split')
'{"columns":["col 1","col 2"],
  "index":["row 1","row 2"],
  "data":[["a","b"],["c","d"]]}'

Encoding/decoding a Dataframe using ``'records'`` formatted JSON.
Note that index labels are not preserved with this encoding.

>>> df.to_json(orient='records')
'[{"col 1":"a","col 2":"b"},{"col 1":"c","col 2":"d"}]'

Encoding/decoding a Dataframe using ``'index'`` formatted JSON:

>>> df.to_json(orient='index')
'{"row 1":{"col 1":"a","col 2":"b"},"row 2":{"col 1":"c","col 2":"d"}}'

Encoding/decoding a Dataframe using ``'columns'`` formatted JSON:

>>> df.to_json(orient='columns')
'{"col 1":{"row 1":"a","row 2":"c"},"col 2":{"row 1":"b","row 2":"d"}}'

Encoding/decoding a Dataframe using ``'values'`` formatted JSON:

>>> df.to_json(orient='values')
'[["a","b"],["c","d"]]'

Encoding with Table Schema

>>> df.to_json(orient='table')
'{"schema": {"fields": [{"name": "index", "type": "string"},
                        {"name": "col 1", "type": "string"},
                        {"name": "col 2", "type": "string"}],
             "primaryKey": "index",
             "pandas_version": "0.20.0"},
  "data": [{"index": "row 1", "col 1": "a", "col 2": "b"},
           {"index": "row 2", "col 1": "c", "col 2": "d"}]}'
File:      /usr/local/lib64/python3.6/site-packages/pandas/core/generic.py
Type:      method

In [77]:
import platform
print(platform.python_version())

3.6.8