# Spark SQL – Analytics or Windowing Functions

As part of this session, we will see advanced operations such as aggregations, ranking, and windowing functions within each group using clauses such as OVER, PARTITION BY etc. We will also build a solution to the problem and run it on a multinode cluster.

* Window Functions – Overview
* Problem Statement – Get top n products per day
* Performing Aggregations
* Using Windowing Functions
* Ranking Functions
* Development Life Cycle

### Window Functions – Overview

Let us understand Functions related to aggregations, ranking and windowing functions.

* We use the functions in SELECT clause.
* Specification: **function() OVER (PARTITION BY column [ORDER BY column])**
* **PARTITION BY** is used to group the data based on a column.
* **ORDER BY** is used to sort the data based on a column.
* Example: **rank() OVER (PARTITION BY department_id ORDER BY salary DESC)**
* Aggregations – **sum, avg, min, max** etc
* Ranking – **rank, dense_rank, row_number** etc
* Windowing – **lead, lag** etc
* Window have APIs such as **PARTITION BY, ORDER BY**
* For aggregations, we can define the group by using **PARTITION BY**
* For ranking or windowing, we need to use **PARTITION BY** and then **ORDER BY. PARTITION BY** is to group the data and **ORDER BY** is to sort the data to assign rank.

In [1]:
val orderItems = spark.
  read.
  json("/public/retail_db_json/order_items")

orderItems.createTempView("order_items")

val orderItemsWithRevenue = spark.
  sql(s"""SELECT oi.*, 
            round(sum(oi.order_item_subtotal) OVER (PARTITION BY oi.order_item_order_id), 2) AS order_revenue
          FROM order_items oi""")

orderItemsWithRevenue.printSchema
orderItemsWithRevenue.show

root
 |-- order_item_id: long (nullable = true)
 |-- order_item_order_id: long (nullable = true)
 |-- order_item_product_id: long (nullable = true)
 |-- order_item_product_price: double (nullable = true)
 |-- order_item_quantity: long (nullable = true)
 |-- order_item_subtotal: double (nullable = true)
 |-- order_revenue: double (nullable = true)

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+-------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|order_revenue|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+-------------+
|           83|                 29|                 1073|                  199.99|                  1|             199.99|      1109.85|
|           84|                 29|                 1014|                   49.98|                  5|              249.9|      1109.85|
|           85|                 29|                  403|                  129.99|                  1|             129.99|      1109.85|
|           86|                 29|                  403|                  129.99|                  1|             129.99|      1109.85|
|           87|                 29|                 1004|                  399.98|                  1|             399.98|      1109.85|
|         1161|                474|                 1014|                   49.98|                  4|             199.92|       774.82|
|         1162|                474|                  502|                    50.0|                  3|              150.0|       774.82|
|         1163|                474|                 1073|                  199.99|                  1|             199.99|       774.82|
|         1164|                474|                  905|                   24.99|                  1|              24.99|       774.82|
|         1165|                474|                 1014|                   49.98|                  4|             199.92|       774.82|
|         2395|                964|                  627|                   39.99|                  4|             159.96|       739.88|
|         2396|                964|                  957|                  299.98|                  1|             299.98|       739.88|
|         2397|                964|                  977|                   29.99|                  5|             149.95|       739.88|
|         2398|                964|                  403|                  129.99|                  1|             129.99|       739.88|
|         4170|               1677|                  502|                    50.0|                  5|              250.0|       649.92|
|         4171|               1677|                  191|                   99.99|                  2|             199.98|       649.92|
|         4172|               1677|                  365|                   59.99|                  1|              59.99|       649.92|
|         4173|               1677|                  797|                   17.99|                  5|              89.95|       649.92|
|         4174|               1677|                  502|                    50.0|                  1|               50.0|       649.92|
|         4514|               1806|                  365|                   59.99|                  4|             239.96|       789.94|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+-------------+
only showing top 20 rows

orderItems = [order_item_id: bigint, order_item_order_id: bigint ... 4 more fields]
orderItemsWithRevenue = [order_item_id: bigint, order_item_order_id: bigint ... 5 more fields]

[order_item_id: bigint, order_item_order_id: bigint ... 5 more fields]

### Problem Statement – Get top n products per day

Let us define the problem statement and see the real usage of the analytics function.

* Problem Statement – Get top N Products Per day
* Get daily product revenue code from the previous topic
* Use ranking functions and get the rank associated based on revenue for each day
* Once we get rank, let us filter for top n products.
* We have already seen how to use join, group by, order by etc to get **Daily Product Revenue**

------------------------------------

name := "SparkDemo"

version := "0.1"

scalaVersion := "2.11.8"

libraryDependencies += "com.typesafe" % "config" % "1.3.2"
libraryDependencies += "org.apache.spark" %% "spark-sql" % "2.3.2"

-------------------------------------

dev.execution.mode = local
dev.input.base.dir = C:\\data\\retail_db\\
dev.output.base.dir = C:\\data\\scalaspark\\

devu.execution.mode = local
devu.input.base.dir = /mnt/c/data/retail_db/
devu.output.base.dir = /mnt/c/data/bootcamp/scalaspark/

devm.execution.mode = local
devm.input.base.dir = /Users/itversity/Research/data/retail_db/
devm.output.base.dir = /Users/itversity/Research/data/scalaspark/

prod.execution.mode = yarn-client
prod.input.base.dir = /public/retail_db/
prod.output.base.dir = /user/training/bootcamp/scalaspark/

---------------------------------------

package retail_db_sql

import com.typesafe.config.ConfigFactory
import org.apache.spark.sql.SparkSession

/**
  * Created by itversity on 04/01/19.
  */
object GetDailyProductRevenueSQL {
  def main(args: Array[String]): Unit = {

    val props = ConfigFactory.load
    val env = args(0)
    val topN = args(1).toInt
    val envProps = props.getConfig(env)

    val spark = SparkSession.
      builder.
      appName("Daily Product Revenue using Data Frame Operations").
      master(envProps.getString("execution.mode")).
      getOrCreate

    spark.sparkContext.setLogLevel("ERROR")
    spark.conf.set("spark.sql.shuffle.partitions", "2")

    val inputBaseDir = envProps.getString("input.base.dir")
    val ordersCSV = spark.read.
      csv(inputBaseDir + "orders").
      toDF("order_id", "order_date", "order_customer_id", "order_status")

    val orderItemsCSV = spark.read.
      csv(inputBaseDir + "order_items").
      toDF("order_item_id", "order_item_order_id", "order_item_product_id",
        "order_item_quantity", "order_item_subtotal", "order_item_product_price")

    import spark.implicits._

    val orders = ordersCSV.
      withColumn("order_id", $"order_id".cast("int")).
      withColumn("order_customer_id", $"order_customer_id".cast("int"))

    val orderItems = orderItemsCSV.
      withColumn("order_item_id", $"order_item_id".cast("int")).
      withColumn("order_item_order_id", $"order_item_order_id".cast("int")).
      withColumn("order_item_product_id", $"order_item_product_id".cast("int")).
      withColumn("order_item_quantity", $"order_item_quantity".cast("int")).
      withColumn("order_item_subtotal", $"order_item_subtotal".cast("float")).
      withColumn("order_item_product_price", $"order_item_product_price".cast("float"))

    orders.createTempView("orders")
    orderItems.createTempView("order_items")

    val dailyProductRevenue = spark.
      sql(s"""SELECT o.order_date, oi.order_item_product_id,
                round(sum(oi.order_item_subtotal), 2) AS revenue
              FROM orders o JOIN order_items oi
                ON o.order_id = oi.order_item_order_id
              WHERE o.order_status IN ("COMPLETE", "CLOSED")
              GROUP BY o.order_date, oi.order_item_product_id
              ORDER BY o.order_date, revenue DESC""")

    val outputBaseDir = envProps.getString("output.base.dir")
    dailyProductRevenue.write.csv(outputBaseDir + "daily_product_revenue_sql")
  }

}

--------------------------

spark-submit \
  --master yarn \
  --class retail_db_sql.GetDailyProductRevenueSQL \
  --deploy-mode client \
  --conf spark.ui.port=12901 \
  sparkdemo_2.11-0.1.jar prod

-------------------------

### Performing aggregations

Let us see how to perform aggregations within each group.

* We have functions such as sum, avg, min, max etc which can be used to aggregate the data.
* We need to invoke **PARTITION BY** to get aggregations within each group.

* Some realistic use cases
    * Get the average salary for each department and get all employee details who earn more than the average salary
    * Get average revenue for each day and get all the orders who earn revenue more than average revenue
    * Get the highest order revenue and get all the orders which have revenue more than 75% of the revenue
    
### Using Windowing Functions

Let us see details about windowing functions within each group 

* We have functions such as lead, lag, first, last etc
* We need to create spec for most of the ranking functions by specifying grouping column under PARTITION BY clause and then sorting column under ORDER BY clause.
* lead and lag take the column names or expressions using which we need to get required information.
* Some realistic use cases
    * The salary difference between current and next/previous employee within each department

In [4]:
// val employeesPath = "/Users/itversity/Research/data/hr_db/employees/part-00000"
val employeesPath = "/public/hr_db/employees"

val employeesRaw = spark.
  read.
  text(employeesPath).
  as[String]

val employees = employeesRaw.map(rec => {
  val r = rec.split("\t")
  (r(0).toInt, r(1), r(2), r(3),
   r(4), r(5), r(6), r(7).toFloat,
   r(8), r(9), r(10)
  )
}).toDF("employee_id", "first_name", "last_name", "email",
        "phone_number", "hire_date", "job_id", "salary",
        "commission_pct", "manager_id", "department_id")

spark.conf.set("spark.sql.shuffle.partitions", "2")

employees.createTempView("employees")

employeesPath = /public/hr_db/employees
employeesRaw = [value: string]
employees = [employee_id: int, first_name: string ... 9 more fields]

lastException: Throwable = null

[employee_id: int, first_name: string ... 9 more fields]

In [5]:
val employeesLead = spark.
  sql(s"""SELECT employee_id, salary, department_id,
            lead(salary, 1) OVER (PARTITION BY department_id ORDER BY salary DESC) lead_salary
          FROM employees
          ORDER BY department_id, salary DESC""")

employeesLead.show(200)

+-----------+-------+-------------+-----------+
|employee_id| salary|department_id|lead_salary|
+-----------+-------+-------------+-----------+
|        200| 4400.0|           10|       null|
|        108|12000.0|          100|     9000.0|
|        109| 9000.0|          100|     8200.0|
|        110| 8200.0|          100|     7800.0|
|        112| 7800.0|          100|     7700.0|
|        111| 7700.0|          100|     6900.0|
|        113| 6900.0|          100|       null|
|        205|12000.0|          110|     8300.0|
|        206| 8300.0|          110|       null|
|        201|13000.0|           20|     6000.0|
|        202| 6000.0|           20|       null|
|        114|11000.0|           30|     3100.0|
|        115| 3100.0|           30|     2900.0|
|        116| 2900.0|           30|     2800.0|
|        117| 2800.0|           30|     2600.0|
|        118| 2600.0|           30|     2500.0|
|        119| 2500.0|           30|       null|
|        203| 6500.0|           40|       null|
|        121| 8200.0|           50|     8000.0|
|        120| 8000.0|           50|     7900.0|
|        122| 7900.0|           50|     6500.0|
|        123| 6500.0|           50|     5800.0|
|        124| 5800.0|           50|     4200.0|
|        184| 4200.0|           50|     4100.0|
|        185| 4100.0|           50|     4000.0|
|        192| 4000.0|           50|     3900.0|
|        193| 3900.0|           50|     3800.0|
|        188| 3800.0|           50|     3600.0|
|        189| 3600.0|           50|     3500.0|
|        137| 3600.0|           50|     3600.0|
|        141| 3500.0|           50|     3400.0|
|        186| 3400.0|           50|     3300.0|
|        133| 3300.0|           50|     3200.0|
|        129| 3300.0|           50|     3300.0|
|        180| 3200.0|           50|     3200.0|
|        194| 3200.0|           50|     3100.0|
|        125| 3200.0|           50|     3200.0|
|        138| 3200.0|           50|     3200.0|
|        181| 3100.0|           50|     3100.0|
|        142| 3100.0|           50|     3100.0|
|        196| 3100.0|           50|     3000.0|
|        187| 3000.0|           50|     3000.0|
|        197| 3000.0|           50|     2900.0|
|        190| 2900.0|           50|     2800.0|
|        134| 2900.0|           50|     2900.0|
|        130| 2800.0|           50|     2800.0|
|        183| 2800.0|           50|     2800.0|
|        195| 2800.0|           50|     2700.0|
|        139| 2700.0|           50|     2700.0|
|        126| 2700.0|           50|     2600.0|
|        199| 2600.0|           50|     2500.0|
|        198| 2600.0|           50|     2600.0|
|        143| 2600.0|           50|     2600.0|
|        182| 2500.0|           50|     2500.0|
|        140| 2500.0|           50|     2500.0|
|        144| 2500.0|           50|     2500.0|
|        191| 2500.0|           50|     2400.0|
|        131| 2500.0|           50|     2500.0|
|        127| 2400.0|           50|     2400.0|
|        135| 2400.0|           50|     2200.0|
|        136| 2200.0|           50|     2100.0|
|        128| 2200.0|           50|     2200.0|
|        132| 2100.0|           50|       null|
|        103| 9000.0|           60|     6000.0|
|        104| 6000.0|           60|     4800.0|
|        106| 4800.0|           60|     4200.0|
|        105| 4800.0|           60|     4800.0|
|        107| 4200.0|           60|       null|
|        204|10000.0|           70|       null|
|        145|14000.0|           80|    13500.0|
|        146|13500.0|           80|    12000.0|
|        147|12000.0|           80|    11500.0|
|        168|11500.0|           80|    11000.0|
|        174|11000.0|           80|    10500.0|
|        148|11000.0|           80|    11000.0|
|        149|10500.0|           80|    10500.0|
|        162|10500.0|           80|    10000.0|
|        156|10000.0|           80|    10000.0|
|        150|10000.0|           80|    10000.0|
|        169|10000.0|           80|     9600.0|
|        170| 9600.0|           80|     9500.0|
|        151| 9500.0|           80|     9500.0|
|        163| 9500.0|           80|     9000.0|
|        157| 9500.0|           80|     9500.0|
|        152| 9000.0|           80|     9000.0|
|        158| 9000.0|           80|     8800.0|
|        175| 8800.0|           80|     8600.0|
|        176| 8600.0|           80|     8400.0|
|        177| 8400.0|           80|     8000.0|
|        159| 8000.0|           80|     7500.0|
|        153| 8000.0|           80|     8000.0|
|        154| 7500.0|           80|     7500.0|
|        160| 7500.0|           80|     7400.0|
|        171| 7400.0|           80|     7300.0|
|        172| 7300.0|           80|     7200.0|
|        164| 7200.0|           80|     7000.0|
|        161| 7000.0|           80|     6800.0|
|        155| 7000.0|           80|     7000.0|
|        165| 6800.0|           80|     6400.0|
|        166| 6400.0|           80|     6200.0|
|        167| 6200.0|           80|     6200.0|
|        179| 6200.0|           80|     6100.0|
|        173| 6100.0|           80|       null|
|        100|24000.0|           90|    17000.0|
|        101|17000.0|           90|    17000.0|
|        102|17000.0|           90|       null|
|        178| 7000.0|         null|       null|
+-----------+-------+-------------+-----------+

employeesLead = [employee_id: int, salary: float ... 2 more fields]

[employee_id: int, salary: float ... 2 more fields]

In [6]:
val employeesLag = spark.
  sql(s"""SELECT employee_id, salary, department_id,
            lag(salary, 1) OVER (PARTITION BY department_id ORDER BY salary DESC) lag_salary
          FROM employees
          ORDER BY department_id, salary DESC""")

employeesLag.show(200)

+-----------+-------+-------------+----------+
|employee_id| salary|department_id|lag_salary|
+-----------+-------+-------------+----------+
|        200| 4400.0|           10|      null|
|        108|12000.0|          100|      null|
|        109| 9000.0|          100|   12000.0|
|        110| 8200.0|          100|    9000.0|
|        112| 7800.0|          100|    8200.0|
|        111| 7700.0|          100|    7800.0|
|        113| 6900.0|          100|    7700.0|
|        205|12000.0|          110|      null|
|        206| 8300.0|          110|   12000.0|
|        201|13000.0|           20|      null|
|        202| 6000.0|           20|   13000.0|
|        114|11000.0|           30|      null|
|        115| 3100.0|           30|   11000.0|
|        116| 2900.0|           30|    3100.0|
|        117| 2800.0|           30|    2900.0|
|        118| 2600.0|           30|    2800.0|
|        119| 2500.0|           30|    2600.0|
|        203| 6500.0|           40|      null|
|        121| 8200.0|           50|      null|
|        120| 8000.0|           50|    8200.0|
|        122| 7900.0|           50|    8000.0|
|        123| 6500.0|           50|    7900.0|
|        124| 5800.0|           50|    6500.0|
|        184| 4200.0|           50|    5800.0|
|        185| 4100.0|           50|    4200.0|
|        192| 4000.0|           50|    4100.0|
|        193| 3900.0|           50|    4000.0|
|        188| 3800.0|           50|    3900.0|
|        189| 3600.0|           50|    3600.0|
|        137| 3600.0|           50|    3800.0|
|        141| 3500.0|           50|    3600.0|
|        186| 3400.0|           50|    3500.0|
|        133| 3300.0|           50|    3300.0|
|        129| 3300.0|           50|    3400.0|
|        180| 3200.0|           50|    3200.0|
|        194| 3200.0|           50|    3200.0|
|        125| 3200.0|           50|    3200.0|
|        138| 3200.0|           50|    3300.0|
|        181| 3100.0|           50|    3100.0|
|        142| 3100.0|           50|    3200.0|
|        196| 3100.0|           50|    3100.0|
|        187| 3000.0|           50|    3100.0|
|        197| 3000.0|           50|    3000.0|
|        190| 2900.0|           50|    2900.0|
|        134| 2900.0|           50|    3000.0|
|        130| 2800.0|           50|    2900.0|
|        183| 2800.0|           50|    2800.0|
|        195| 2800.0|           50|    2800.0|
|        139| 2700.0|           50|    2800.0|
|        126| 2700.0|           50|    2700.0|
|        199| 2600.0|           50|    2600.0|
|        198| 2600.0|           50|    2600.0|
|        143| 2600.0|           50|    2700.0|
|        182| 2500.0|           50|    2500.0|
|        140| 2500.0|           50|    2500.0|
|        144| 2500.0|           50|    2500.0|
|        191| 2500.0|           50|    2500.0|
|        131| 2500.0|           50|    2600.0|
|        127| 2400.0|           50|    2500.0|
|        135| 2400.0|           50|    2400.0|
|        136| 2200.0|           50|    2200.0|
|        128| 2200.0|           50|    2400.0|
|        132| 2100.0|           50|    2200.0|
|        103| 9000.0|           60|      null|
|        104| 6000.0|           60|    9000.0|
|        106| 4800.0|           60|    4800.0|
|        105| 4800.0|           60|    6000.0|
|        107| 4200.0|           60|    4800.0|
|        204|10000.0|           70|      null|
|        145|14000.0|           80|      null|
|        146|13500.0|           80|   14000.0|
|        147|12000.0|           80|   13500.0|
|        168|11500.0|           80|   12000.0|
|        174|11000.0|           80|   11000.0|
|        148|11000.0|           80|   11500.0|
|        149|10500.0|           80|   11000.0|
|        162|10500.0|           80|   10500.0|
|        156|10000.0|           80|   10000.0|
|        150|10000.0|           80|   10500.0|
|        169|10000.0|           80|   10000.0|
|        170| 9600.0|           80|   10000.0|
|        151| 9500.0|           80|    9600.0|
|        163| 9500.0|           80|    9500.0|
|        157| 9500.0|           80|    9500.0|
|        152| 9000.0|           80|    9500.0|
|        158| 9000.0|           80|    9000.0|
|        175| 8800.0|           80|    9000.0|
|        176| 8600.0|           80|    8800.0|
|        177| 8400.0|           80|    8600.0|
|        159| 8000.0|           80|    8000.0|
|        153| 8000.0|           80|    8400.0|
|        154| 7500.0|           80|    8000.0|
|        160| 7500.0|           80|    7500.0|
|        171| 7400.0|           80|    7500.0|
|        172| 7300.0|           80|    7400.0|
|        164| 7200.0|           80|    7300.0|
|        161| 7000.0|           80|    7000.0|
|        155| 7000.0|           80|    7200.0|
|        165| 6800.0|           80|    7000.0|
|        166| 6400.0|           80|    6800.0|
|        167| 6200.0|           80|    6400.0|
|        179| 6200.0|           80|    6200.0|
|        173| 6100.0|           80|    6200.0|
|        100|24000.0|           90|      null|
|        101|17000.0|           90|   24000.0|
|        102|17000.0|           90|   17000.0|
|        178| 7000.0|         null|      null|
+-----------+-------+-------------+----------+

employeesLag = [employee_id: int, salary: float ... 2 more fields]

[employee_id: int, salary: float ... 2 more fields]

In [7]:
val employeesFirst = spark.
  sql(s"""SELECT employee_id, salary, department_id,
            first_value(salary) OVER (PARTITION BY department_id ORDER BY salary DESC) first_salary
          FROM employees
          ORDER BY department_id, salary DESC""")

employeesFirst.show(200)

+-----------+-------+-------------+------------+
|employee_id| salary|department_id|first_salary|
+-----------+-------+-------------+------------+
|        200| 4400.0|           10|      4400.0|
|        108|12000.0|          100|     12000.0|
|        109| 9000.0|          100|     12000.0|
|        110| 8200.0|          100|     12000.0|
|        112| 7800.0|          100|     12000.0|
|        111| 7700.0|          100|     12000.0|
|        113| 6900.0|          100|     12000.0|
|        205|12000.0|          110|     12000.0|
|        206| 8300.0|          110|     12000.0|
|        201|13000.0|           20|     13000.0|
|        202| 6000.0|           20|     13000.0|
|        114|11000.0|           30|     11000.0|
|        115| 3100.0|           30|     11000.0|
|        116| 2900.0|           30|     11000.0|
|        117| 2800.0|           30|     11000.0|
|        118| 2600.0|           30|     11000.0|
|        119| 2500.0|           30|     11000.0|
|        203| 6500.0|           40|      6500.0|
|        121| 8200.0|           50|      8200.0|
|        120| 8000.0|           50|      8200.0|
|        122| 7900.0|           50|      8200.0|
|        123| 6500.0|           50|      8200.0|
|        124| 5800.0|           50|      8200.0|
|        184| 4200.0|           50|      8200.0|
|        185| 4100.0|           50|      8200.0|
|        192| 4000.0|           50|      8200.0|
|        193| 3900.0|           50|      8200.0|
|        188| 3800.0|           50|      8200.0|
|        189| 3600.0|           50|      8200.0|
|        137| 3600.0|           50|      8200.0|
|        141| 3500.0|           50|      8200.0|
|        186| 3400.0|           50|      8200.0|
|        133| 3300.0|           50|      8200.0|
|        129| 3300.0|           50|      8200.0|
|        194| 3200.0|           50|      8200.0|
|        180| 3200.0|           50|      8200.0|
|        125| 3200.0|           50|      8200.0|
|        138| 3200.0|           50|      8200.0|
|        181| 3100.0|           50|      8200.0|
|        196| 3100.0|           50|      8200.0|
|        142| 3100.0|           50|      8200.0|
|        187| 3000.0|           50|      8200.0|
|        197| 3000.0|           50|      8200.0|
|        190| 2900.0|           50|      8200.0|
|        134| 2900.0|           50|      8200.0|
|        130| 2800.0|           50|      8200.0|
|        183| 2800.0|           50|      8200.0|
|        195| 2800.0|           50|      8200.0|
|        139| 2700.0|           50|      8200.0|
|        126| 2700.0|           50|      8200.0|
|        199| 2600.0|           50|      8200.0|
|        198| 2600.0|           50|      8200.0|
|        143| 2600.0|           50|      8200.0|
|        191| 2500.0|           50|      8200.0|
|        140| 2500.0|           50|      8200.0|
|        144| 2500.0|           50|      8200.0|
|        182| 2500.0|           50|      8200.0|
|        131| 2500.0|           50|      8200.0|
|        127| 2400.0|           50|      8200.0|
|        135| 2400.0|           50|      8200.0|
|        128| 2200.0|           50|      8200.0|
|        136| 2200.0|           50|      8200.0|
|        132| 2100.0|           50|      8200.0|
|        103| 9000.0|           60|      9000.0|
|        104| 6000.0|           60|      9000.0|
|        106| 4800.0|           60|      9000.0|
|        105| 4800.0|           60|      9000.0|
|        107| 4200.0|           60|      9000.0|
|        204|10000.0|           70|     10000.0|
|        145|14000.0|           80|     14000.0|
|        146|13500.0|           80|     14000.0|
|        147|12000.0|           80|     14000.0|
|        168|11500.0|           80|     14000.0|
|        148|11000.0|           80|     14000.0|
|        174|11000.0|           80|     14000.0|
|        162|10500.0|           80|     14000.0|
|        149|10500.0|           80|     14000.0|
|        150|10000.0|           80|     14000.0|
|        156|10000.0|           80|     14000.0|
|        169|10000.0|           80|     14000.0|
|        170| 9600.0|           80|     14000.0|
|        151| 9500.0|           80|     14000.0|
|        157| 9500.0|           80|     14000.0|
|        163| 9500.0|           80|     14000.0|
|        158| 9000.0|           80|     14000.0|
|        152| 9000.0|           80|     14000.0|
|        175| 8800.0|           80|     14000.0|
|        176| 8600.0|           80|     14000.0|
|        177| 8400.0|           80|     14000.0|
|        153| 8000.0|           80|     14000.0|
|        159| 8000.0|           80|     14000.0|
|        160| 7500.0|           80|     14000.0|
|        154| 7500.0|           80|     14000.0|
|        171| 7400.0|           80|     14000.0|
|        172| 7300.0|           80|     14000.0|
|        164| 7200.0|           80|     14000.0|
|        155| 7000.0|           80|     14000.0|
|        161| 7000.0|           80|     14000.0|
|        165| 6800.0|           80|     14000.0|
|        166| 6400.0|           80|     14000.0|
|        167| 6200.0|           80|     14000.0|
|        179| 6200.0|           80|     14000.0|
|        173| 6100.0|           80|     14000.0|
|        100|24000.0|           90|     24000.0|
|        102|17000.0|           90|     24000.0|
|        101|17000.0|           90|     24000.0|
|        178| 7000.0|         null|      7000.0|
+-----------+-------+-------------+------------+

employeesFirst = [employee_id: int, salary: float ... 2 more fields]

[employee_id: int, salary: float ... 2 more fields]

In [8]:
val employeesLast = spark.
  sql(s"""SELECT employee_id, salary, department_id,
            last_value(salary) OVER (
              PARTITION BY department_id ORDER BY salary DESC
              ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
            ) last_salary
          FROM employees
          ORDER BY department_id, salary DESC""")

employeesLast.show(200)

+-----------+-------+-------------+-----------+
|employee_id| salary|department_id|last_salary|
+-----------+-------+-------------+-----------+
|        200| 4400.0|           10|     4400.0|
|        108|12000.0|          100|     6900.0|
|        109| 9000.0|          100|     6900.0|
|        110| 8200.0|          100|     6900.0|
|        112| 7800.0|          100|     6900.0|
|        111| 7700.0|          100|     6900.0|
|        113| 6900.0|          100|     6900.0|
|        205|12000.0|          110|     8300.0|
|        206| 8300.0|          110|     8300.0|
|        201|13000.0|           20|     6000.0|
|        202| 6000.0|           20|     6000.0|
|        114|11000.0|           30|     2500.0|
|        115| 3100.0|           30|     2500.0|
|        116| 2900.0|           30|     2500.0|
|        117| 2800.0|           30|     2500.0|
|        118| 2600.0|           30|     2500.0|
|        119| 2500.0|           30|     2500.0|
|        203| 6500.0|           40|     6500.0|
|        121| 8200.0|           50|     2100.0|
|        120| 8000.0|           50|     2100.0|
|        122| 7900.0|           50|     2100.0|
|        123| 6500.0|           50|     2100.0|
|        124| 5800.0|           50|     2100.0|
|        184| 4200.0|           50|     2100.0|
|        185| 4100.0|           50|     2100.0|
|        192| 4000.0|           50|     2100.0|
|        193| 3900.0|           50|     2100.0|
|        188| 3800.0|           50|     2100.0|
|        189| 3600.0|           50|     2100.0|
|        137| 3600.0|           50|     2100.0|
|        141| 3500.0|           50|     2100.0|
|        186| 3400.0|           50|     2100.0|
|        133| 3300.0|           50|     2100.0|
|        129| 3300.0|           50|     2100.0|
|        194| 3200.0|           50|     2100.0|
|        180| 3200.0|           50|     2100.0|
|        125| 3200.0|           50|     2100.0|
|        138| 3200.0|           50|     2100.0|
|        181| 3100.0|           50|     2100.0|
|        196| 3100.0|           50|     2100.0|
|        142| 3100.0|           50|     2100.0|
|        187| 3000.0|           50|     2100.0|
|        197| 3000.0|           50|     2100.0|
|        190| 2900.0|           50|     2100.0|
|        134| 2900.0|           50|     2100.0|
|        130| 2800.0|           50|     2100.0|
|        183| 2800.0|           50|     2100.0|
|        195| 2800.0|           50|     2100.0|
|        139| 2700.0|           50|     2100.0|
|        126| 2700.0|           50|     2100.0|
|        199| 2600.0|           50|     2100.0|
|        198| 2600.0|           50|     2100.0|
|        143| 2600.0|           50|     2100.0|
|        191| 2500.0|           50|     2100.0|
|        140| 2500.0|           50|     2100.0|
|        144| 2500.0|           50|     2100.0|
|        182| 2500.0|           50|     2100.0|
|        131| 2500.0|           50|     2100.0|
|        127| 2400.0|           50|     2100.0|
|        135| 2400.0|           50|     2100.0|
|        128| 2200.0|           50|     2100.0|
|        136| 2200.0|           50|     2100.0|
|        132| 2100.0|           50|     2100.0|
|        103| 9000.0|           60|     4200.0|
|        104| 6000.0|           60|     4200.0|
|        106| 4800.0|           60|     4200.0|
|        105| 4800.0|           60|     4200.0|
|        107| 4200.0|           60|     4200.0|
|        204|10000.0|           70|    10000.0|
|        145|14000.0|           80|     6100.0|
|        146|13500.0|           80|     6100.0|
|        147|12000.0|           80|     6100.0|
|        168|11500.0|           80|     6100.0|
|        148|11000.0|           80|     6100.0|
|        174|11000.0|           80|     6100.0|
|        162|10500.0|           80|     6100.0|
|        149|10500.0|           80|     6100.0|
|        150|10000.0|           80|     6100.0|
|        156|10000.0|           80|     6100.0|
|        169|10000.0|           80|     6100.0|
|        170| 9600.0|           80|     6100.0|
|        151| 9500.0|           80|     6100.0|
|        157| 9500.0|           80|     6100.0|
|        163| 9500.0|           80|     6100.0|
|        158| 9000.0|           80|     6100.0|
|        152| 9000.0|           80|     6100.0|
|        175| 8800.0|           80|     6100.0|
|        176| 8600.0|           80|     6100.0|
|        177| 8400.0|           80|     6100.0|
|        153| 8000.0|           80|     6100.0|
|        159| 8000.0|           80|     6100.0|
|        160| 7500.0|           80|     6100.0|
|        154| 7500.0|           80|     6100.0|
|        171| 7400.0|           80|     6100.0|
|        172| 7300.0|           80|     6100.0|
|        164| 7200.0|           80|     6100.0|
|        155| 7000.0|           80|     6100.0|
|        161| 7000.0|           80|     6100.0|
|        165| 6800.0|           80|     6100.0|
|        166| 6400.0|           80|     6100.0|
|        167| 6200.0|           80|     6100.0|
|        179| 6200.0|           80|     6100.0|
|        173| 6100.0|           80|     6100.0|
|        100|24000.0|           90|    17000.0|
|        102|17000.0|           90|    17000.0|
|        101|17000.0|           90|    17000.0|
|        178| 7000.0|         null|     7000.0|
+-----------+-------+-------------+-----------+

employeesLast = [employee_id: int, salary: float ... 2 more fields]

[employee_id: int, salary: float ... 2 more fields]

### Ranking Functions

Let us talk about ranking functions within each group.

* We have functions like rank, dense_rank, row_number, etc
* We need to create a spec for most of the ranking functions by specifying grouping column under **PARTITION BY** clause and then sorting column under **ORDER BY** clause.
* Some realistic use cases
    * Assign rank to employees based on salary within each department
    * Assign ranks to products based on revenue each day or month
    
### Development Life Cycle

Let us talk about the development lifecycle. 

* Take the GetDailyProductRevenueSQL code which gives us order_date, order_item_product_id, and revenue (dailyProductRevenue)
* Register dailyProductRevenue as temp view daily_product_revenue
* Write a query against daily_product_revenue **PARTITION BY** date and **ORDER BY** revenue in descending order and assign rank using the rank function.
* Make the query nested and assign the name as inner.
* Filter data where rank is less than or equal to topN passed as an argument to the program
* Drop rank field as we do not want to save the data and then sort in ascending order by date and descending order by revenue
* Save the data frame into a file