# CRUD Operations

As part of this course, we have covered
* CRUD Operations – DML
    * Insert
    * Update
    * Delete
* Life cycle of order and relationship with CRUD operations
* Basics of SQL
    * Relevance of dual in Oracle
    * Simple queries – projection of data
    * Columns and Expressions in SELECT clause
    * We work typically with primitive types. Some of the special data types are LONG, LOB, CLOB etc
    * The primitive data types are INTEGER, FLOAT, DATE, CHAR, VARCHAR, NUMBER etc.
    * To get the history use history tab under SQL commands section.
    * DML commands are INSERT, DELETE, UPDATE
    * INSERT command is used to insert the values into table. There are two ways of using it we can specify values of all the columns and we can also insert values for respective columns. Below s the syntax for both.

### Loading Data into Tables:
Syntax:
    
INSERT INTO < TABLE_NAME > VALUES (value1, value2, value3);

    
INSERT INTO < TABLE_NAME > (COLUMN1, COLUMN3) VALUES (value1,value2);

INSERT INTO orders VALUES (1,’04/11/2018’,1000,’NEW’);

* Use select sysdate from dual; to get the date format used by the database.
* If we try to insert a record with a different date format other than the default it fails. We can even alter the date format by using a field called <mark>NLS_DATE_FORMAT</mark>.
* <mark>alter session set NLS_DATE_FORMAT='<my_format>';</mark> The change is only altered for current session.
* There might be a different date format used in the front end but at the database level it must be converted into the way the database accepts.
* UPDATE command is used to update a column value. Typically update statement is used with where condition based on the primary key field to change the value of respective record.

Syntax:

 
UPDATE < TABLE_NAME > SET < COLUMN3 > = < VALUE3 > where < COLUMN1 >= < VALUE1 >;

UPDATE orders SET ORDER_STATUS = 'COMPLETE' where order_id=1;

* DELETE command is used to delete a record. Typically, a delete command is followed by where condition.

Syntax:
    
DELETE FROM < TABLE_NAME > where < COLUMN1 >=<VALUE1>;

DELETE FROM ORDERS where order_id=1;

* If we want to insert only values for some columns it is recommended to use the list of column names followed by values. Ex: <mark>INSERT INTO orders (order_id, order_date, order_customer_id) VALUES (3, ‘04/11/2018’, 1000);</mark>
* We cannot insert other column values into a record without PRIMARY KEY value. We cannot insert null values into a not null constraint column.
* We can even alter the table definition and set not null constraint to a column by using the below command. Ex: <mark>ALTER TABLE orders MODIFY order_date NOT NULL;</mark>
* Make sure the column that we are altering a not null constraint should not have null values.
* By altering the table using <mark>NOT NULL CONSTRAINT</mark> we make sure that the application users enter all the values or else we can even throw an exception from database level.
* We can also set default values in a table while adding columns.

Syntax:
    
ALTER TABLE orders MODIFY order_date DEFAULT sysdate;

ALTER TABLE orders MODIFY order_status DEFAULT ‘NEW’;

* COMMIT and ROLLBACK are transnational commands. To preserve all the commands, we use COMMIT command and to undo the those we use ROLLBACK.
* INSERT, UPDATE, DELETE are considered as CRUD operations which means CREATE, READ, UPDATE and DELETE

### Querying Data:

* Go to /data/retail_db. To get the number of records from all the directories use <mark>wc -l */part*</mark>
* We can load/unload the data from a text file or csv file or any similar files using utilities that are available within database.
* One such utility with apex is Data Workshop which is under SQL Workshop under utilities section.
* Load the data from a text select all the mandatory fields and map all the columns with their respective data types and load the data.