# Basic SQL Queries

As part of this class we have covered basic SQL

* Projection using SELECT clause
* Filtering using WHERE clause
    * Comparison operators
    * Boolean operators
    * Special operators such as IN, LIKE

### Projection using SELECT Clause
* To fetch set of columns we can explicitly specify the columns names as below

SELECT first_name,last_name,salary,hire_date FROM employees;

* We can also use a function and give a alias name to it as specified below

SELECT first_name,last_name,salary,to_char(hire_date,'YYYY-MM-DD') AS hire_date FROM employees;

* We can also apply some arithmetic operations between two columns. For example, to get the commission amount of an employee we multiply the salary with commission percentage.
* Below query is used to get the commission amount for an employee.

SELECT first_name,last_name,salary,to_char(hire_date,'YYYY-MM-DD') AS hire_date, salary * commission_pct AS commission_amount FROM employees;

### Filtering the data
* We can perform the filter operation on the above query to get the records of list employees who are eligible and has a commission amount (Not Null).
* We can remove the null values in the commission amount column by using the below query.

SELECT first_name,last_name,salary,to_char(hire_date,'YYYY-MM-DD') AS hire_date, salary * commission_pct AS commission_amount  FROM employees WHERE commission_pct is NOT NULL;

* Similarly, to get the list of employees who are not eligible for the commission amount use IS NULL in WHERE clause.
* The only place where we can use Positional Notations is in order by clause.

***Queries*** 
* Get top employee in the company

SELECT * FROM employees WHERE manager_id is null;

* Get direct reportees for top employee in the company

SELECT * FROM employees WHERE manager_id = 100;

* Get all the employees reporting to president who are eligible for commission

SELECT * FROM employees WHERE manager_id = 100 AND commission_pct IS NOT NULL;

* Get all the employees reporting to president and earn more than $5000 in commission

SELECT * FROM employees WHERE manager_id = 100 AND commission_pct * salary >= 5000;

* Get all those employees for whom either commission amount is less than 1000 or no commission

SELECT first_name, last_name, salary, commission_pct, salary * commission_pct AS 
commission_amount FROM employees WHERE commission_pct is NULL OR commission_pct * salary < 1000;

* Get all those employees who got hired in or after 1995 and fetch less than 5000 salary or 1000 commission

SELECT first_name, last_name, salary, commission_pct, salary * commission_pct AS 
commission_amount, hire_date FROM employees WHERE hire_date >= to_date('01-01-1995', 'MM-DD-YYYY')AND (salary < 5000 OR commission_pct is null OR salary * commission_pct < 1000)

* Check if there is any sales guy where there is no commission

SELECT * FROM employees WHERE job_id IN (‘SA_MAN’, ‘SA_REP’) AND commission_pct IS NULL;
SELECT * FROM employees WHERE job_id LIKE ‘SA_%’ AND commission_pct IS NULL;

### *Exercises*
* Valid environment with Oracle (https://apex.oracle.com)
* Make sure retail_db tables are created
* Load data using bulk utilities
* Then go through the exercises and come up with queries

**Exercise 1:** Get all the orders which are in COMPLETE or CLOSED status

**Exercise 2:** Get all the orders which are placed in 2013-11 or 2013-12 with COMPLETE or CLOSED status

**Exercise 3:** Get all the orders which are in PENDING or PENDING_PAYMENT or PROCESSING

**Exercise 4:** Get all the order_items where order_id is 2

**Exercise 5:** Get all the order_items where order_id is 5 and order_item_subtotal < 200

**Exercise 6:** Get all the order_items where order_item_subtotal is not equal to order_item_quantity * order_item_product_price

*Answers for above Exercises*

1.SELECT * FROM orders WHERE order_status IN (‘CLOSED’,’COMPLETE’);
2.SELECT * FROM orders WHERE order_status IN (‘COMPLETE’,’CLOSED’) AND order_date BETWEEN TO_DATE(‘01/11/2013’,’DD/MM/YYYY’) AND TO_DATE(‘01/12/2013’,’DD/MM/YYYY’);
3.SELECT * FROM orders WHERE order_status IN(‘PENDING’,’PENDING_PAYMENT’,’PROCESSING’);
4.SELECT * FROM order_items WHERE order_item_order_id = 2;
5.SELECT * FROM order_items WHERE order_item_order_id = 2 and order_item_subtotal <200;
6.SELECT * FROM order_items WHERE order_item_subtotal <> order_item_quantity *  order_item_product_price;