# SQL Queries â€“ Joins and Aggregations

Below topics are covered as part of this session:

* Joins
* Aggregations
* Let us consider an example of retrieving department name of an employee for this we need to get the information of department no from employee table and by using the department no we can fetch the department name from departments table as shown below.

SELECT * FROM employees WHERE first_name = 'Neena';

SELECT * FROM departments WHERE department_id = 90;

* From the application perspective when these kinds of requests are performed we can use the above approach but for better performance it is recommended to use a correlated query as shown below.

SELECT * 
  FROM departments 
  WHERE department_id = 
    (SELECT department_id 
      FROM employees 
      WHERE first_name = 'Neena'
    );

* There is a disadvantage with the above query consider a case where there are n employees with the same first name and it will be difficult to get other details. So, it is always recommended to use joins.
* When there is a relationship between tables like one to one or one to many or many to one it is recommended to use joins.
* Joins are similar to set operations.

***Legacy way of writing a join***

SELECT * 
  FROM employees e, departments d 
  WHERE e.department_id = d.department_id;

#### *ASCII*

SELECT * 
  FROM employees e JOIN departments d 
  ON e.department_id = d.department_id;

* It is always recommended to use alias names for tables since there can be same column names with multiple tables.
* Get all the employees with corresponding department if exists

SELECT * 
  FROM employees e LEFT OUTER JOIN departments d 
  ON e.department_id = d.department_id;

* Since we are trying to fetch the employees details we have used left outer join. Depending up on the position of the table and the requirement we will using left outer join, right outer join, and outer join accordingly.
* Get the details of employee where there is no department.

SELECT * 
  FROM employees e LEFT OUTER JOIN departments d 
  ON e.department_id = d.department_id 
  WHERE d.department_id IS NULL;

* There is one to many relationship between departments and employees and there can be records in employees with no department_id assigned.
* In some cases where constraint is not enforced. There can be department_id in employees for which there is no record in departments.
* Get all the details of departments where there are no employees assigned to it.

SELECT d.* 
  FROM employees e RIGHT OUTER JOIN departments d 
  ON e.department_id = d.department_id 
  WHERE e.department_id IS NULL;

* Full outer join is a union of left outer join and right outer join.
* Get employees count for each department using department_id.

SELECT department_id, count(1) 
  FROM employees 
  GROUP BY department_id;

* GROUP BY is an aggregate function whatever column we specify in select we should specify them in GROUP BY.
* Get employee count for each department using department_name

SELECT department_name, count(1) 
  FROM employees e JOIN departments d 
  ON e.department_id = d.department_id 
  GROUP BY department_name;

* ORDER BY is an aggregate function to perform sorting on the records. We can specify either the column name or the position while using ORDER BY clause.
* Get employee count for each department using department_name sorted by count

SELECT department_name, count(1) cnt 
  FROM employees e JOIN departments d 
  ON e.department_id = d.department_id 
  GROUP BY department_name 
  ORDER BY 2;

* Get employee count and cost for each department using department_name sorted by count cost can be calculated by salary + salary * commission_pct
* In some cases, the commission_pct might be null and if we are adding that to a salary it returns Null value. To validate it use the below query

SELECT 1000 + NULL FROM dual;

* We can also validate the formula the calculate the cost by using the below query where rownum returns only the first row.

SELECT salary, commission_pct, 
    salary + (salary * commission_pct)  as cost 
  FROM employees 
  WHERE rownum = 1;

* When we execute the above query, we see a value for salary but commission_pct is null for which we are seeing the cost value as NULL. The cost column should return a value even the commsion_pct is NULL we can achieve that by using NVL function.

SELECT  department_name, count(1) cnt, 
    sum(salary + (salary * nvl(commission_pct,0))) as department_cost 
  FROM employees e JOIN departments d 
  ON e.department_id = d.department_id 
  GROUP BY department_name 
  ORDER BY 2;

* By using nvl function on a column it returns 0 if the column values are null. Decode function allows to have IF-THEN-ELSE logic.
* Get shortnames for departments using decode function

SELECT department_name, 
    decode(department_name, 
      'Administration', 'Admin', 
      'Marketing', 'Mktg', 
      'Human Resources', 'HR', 
      'others') 
  FROM departments;

* Get shortnames for departments using CASE function

SELECT department_name, CASE WHEN department_name = 'Administration' THEN 'Admin' ELSE department_name END dept_name FROM departments;

* Get bonus amount for each employee calculate the bonus amount by using the below if salary <= 5000 then 10% if salary between 5001 and 10000 then 5% if salary > 10000 then 2%

SELECT first_name, last_name, salary, CASE WHEN salary <= 5000 THEN salary * .10 WHEN salary between 5001 and 10000 THEN salary * .05 ELSE salary * 0.02 END bonus_amount FROM employees;

* If we want to apply a filter after grouping the data, we using HAVING clause. HAVING clause can only be used with GROUP BY.
* Get employee count for each department using department_name sorted by count and employee count less than 5.

SELECT department_name, count(1) cnt FROM employees e JOIN departments d ON e.department_id = d.department_id GROUP BY department_name ORDER BY 2;

***Exercises***

* Get order revenue per each order_id (order_id and revenue) Hint: Use order_items.order_items_subtotal to get the revenue per order_id
* Get daily revenue for only COMPLETE and CLOSED orders(order_date,revenue_per_day)
* Get daily revenue per product for only COMPLETE and CLOSED (order_date,product_name,revenue_per_day_per_product)
* Get count of orders by status. Hint: Use CASE if status is COMPLETE, CLOSED consider it as CLOSED if PENDING,PENDING_PAYMENT,PROCESSING consider it as PENDING, if ON-HOLD,PAYMENT_REVIEW consider as ON-HOLD, rest of others as OTHERS.